* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 8px 16px;
    background-color: rgba(0, 0, 255, 0.758);
}

header h1 {
    color: white;
    font-style: italic;
    font-weight: 600;
}

header li {
    list-style: none;
    display: inline-block;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-right: 9px;
}

.sobre {
    padding-top: 32px;
    display: flex;
}

.sobre img {
    width: 50%;
    padding-right: 20px;
}

.sobre h2, .produtos h2 {
    color: rgba(0, 0, 255, 0.758);
    border-bottom: 1px solid rgba(0, 0, 255, 0.758);
    padding-bottom: 6px;
    font-style: italic;
}

.sobre h3 {
    padding-top: 12px;
    font-weight: 400;
    font-size: 18px;
}

.produtos {
    padding: 16px;
}

.produtos section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.produto img {
    width: 96%;
    padding: 8px 0;
}

.produto p {
    font-size: 14px;
    padding: 8px 0;
}

.produto button {
    color: white;
    background-color: rgba(0, 0, 255, 0.758);
    border: none;
    padding: 8px;
    width: 96%;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .sobre {
        padding: 16px;
        display: block;
    }

    .sobre img {
        width: 100%;
        margin: 0 auto;
    }
    
    .produtos section {
        display: block;
    }

    .produto {
        padding: 16px;
    }

    nav {
        display: inline;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .sobre {
        padding: 20px 50px;
        display: block;
    }

    .produtos {
        padding: 0 50px;
    }

    .sobre img {
        width: 100%;
        margin: 0 auto;
    }
    
    .produtos section {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}